{#

data to use:
- title
- header
- managers
- countries
- resorts
- hotels
- rooms
- buses
- from Minsk date
- to Misnk date
- from resort date

#}
{% extends "base.html.twig" %}{% block content %}

<div class="row w-100 mt-2 mb-2">
	<div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 text-center">
		<h1 class="h1 m-1" id="main-page-h1">{{ header }}</h1>
		<p class="h5 m-auto text-center mb-3">{{ hotel.name }}</p>

	</div>
</div>

<div class="container container-sm container-md container-xl mt-1 mb-5">

	<p id="resorts-array" hidden>{{ resorts }}</p>
	<p id="hotels-array" hidden>{{ hotels }}</p>
	<p id="rooms-array" hidden>{{ rooms }}</p>
	<p id="free-dates" hidden>{{ free_dates }}</p>


	<div class="row pb-2">
		<div class="col-xs-12 col-sm-12 col-md-6 col-xl-6 mt-3">
			<div class="container w-100 p-2" style="background-color:beige;">
				<div class="input-group">
					<span class="input-group-text">Менеджер<span class="text-danger">*</span>
					</span>
					<select class="form-select" name="manager" id="manager">
						<option></option>
						{% for manager in managers %}
						<option {% if manager.id==tour.manager_id %}{{ 'selected="selected"' }}{% endif%}
							value="{{ manager.id }}">{{ manager.name }}</option>
						{% endfor %}
					</select>
				</div>
				<div class="input-group mt-2">
					<span class="input-group-text">Страна<span class="text-danger">*</span>
					</span>
					<select class="form-select" name="country" id="country">
						<option></option>
						{% for country in countries %}
						<option {% for r in resorts_array %}{% if tour.resort_id == r.id %}{% if country.id == r.country_id
							%}{{ 'selected="selected"' }}{% endif %}{% endif %}{% endfor %} value="{{ country.id }}">{{
							country.name }}</option>
						{% endfor %}
					</select>
				</div>

				<div class="input-group mt-2">
					<span class="input-group-text">Курорт<span class="text-danger">*</span>
					</span>
					<select class="form-select" name="resorts" id="resort">
						{% for r in resorts_array %}
						<option {% if r.id == tour.resort_id %} {{ 'selected="selected"' }} {% endif %} value="{{ r.id }}">{{ r.name }}</option>
						{% endfor %}
					</select>
				</div>

				<div class="input-group mt-2">
					<span class="input-group-text">Проезд</span>
					<select class="form-select" name="rooms" id="transits">
						<option {% if tour.transit==2 %}{{ 'selected="selected"' }}{% endif %} value="2">Туда-Обратно
						</option>
						<option {% if tour.transit==0 %}{{ 'selected="selected"' }}{% endif %} value="0">Туда</option>
						<option {% if tour.transit==1 %}{{ 'selected="selected"' }}{% endif %} value="1">Обратно
						</option>
						<option {% if tour.transit==3 %}{{ 'selected="selected"' }}{% endif %} value="3">Без проезда
						</option>
					</select>
					<span class="input-group-text">Только проезд</span>
					<span class="input-group-text"><input type="checkbox" class="checkbox" id="only-transit"></input>
					</span>
				</div>

				<div class="input-group mt-2">
					<span class="input-group-text">Автобус<span class="text-danger">*</span>
					</span>
					<select class="form-select" name="bus-to-resort" id="bus-to">
						<option value="0"></option>
						{% for bus in buses %}
						<option {% if tour.bus_id==bus.id %}{{ 'selected="selected"' }}{% endif %} value="{{ bus.id }}">
							{{ bus.name }}{{ ': ' }}{{ bus.route }}
						</option>
						{% endfor %}
					</select>
				</div>


				<div class="input-group mt-2">
					<span class="input-group-text">Выезд из Минска<span class="text-danger">*</span>
					</span>
					<select class="form-select" name="departure-from-minsk" id="departure-from-minsk">
						<option value="{{ tour.from_minsk_date }}">{{ tour.from_minsk_date }}</option>
						<option value="0"></option>
					</select>
				</div>


				<div class="input-group mt-2">
					<span class="input-group-text">Обратный автобус</span>
					<select class="form-select" name="bus-from-resort" id="bus-from">
						<option></option>
						{% for bus in buses %}
						<option {% if tour.bus_id==bus.id %}{{ 'selected="selected"' }}{% endif %} value="{{ bus.id }}">
							{{ bus.name}}{{ ': '}}{{ bus.route }}</option>
						{% endfor %}
					</select>
				</div>

				<div class="input-group mt-2">
					<span class="input-group-text">Прибытие в Минск</span>
					<select class="form-select" name="departure-from-resort" id="arrival-to-minsk">
						<option value="{{ tour.arrival_to_minsk }}">{{ tour.arrival_to_minsk }}</option>
						<option value="0"></option>
					</select>
				</div>


				<div class="input-group mt-2">
					<span class="input-group-text">Гостиница<span class="text-danger">*</span>
					</span>
					<select class="form-select" name="hotels" id="hotels">
						<option value="0"></option>
						{% for hotel in hotels_array %}
						<option {% if tour.hotel_id==hotel.id %}{{ 'selected="selected"' }}{% endif %}
							value="{{ hotel.id }}">{{ hotel.name }}</option>
						{% endfor %}
					</select>
				</div>


				<div class="input-group mt-2">
					<div class="input-group w-100">
						<span class="input-group-text w-25">
							Дата<br>заселения
						</span>
						<select class="form-select  w-25" name="rooms-checkin-date" id="room-checkin-date">
							<option value="{{ tour.checkin_date }}">{{ tour.checkin_date }}</option>
							<option value="0"></option>
						</select>
						<span class="input-group-text  w-25">
							Дата<br>выселения
						</span>
						<select class="form-select  w-25" name="rooms-checkin-date" id="room-checkout-date">
							<option value="{{ tour.checkout_date }}">{{ tour.checkout_date }}</option>
							<option value="0"></option>
						</select>
					</div>
					<div class="input-group w-100">
						<span class="input-group-text w-25">
							Номер
							<span class="text-danger">*</span>
						</span>
						<select class="form-select w-75" name="rooms" id="rooms">
							{% for r in rooms_array %}{% if r.id == tour.room_id %}
							<option value="{{ r.id }}">{{ r.description }}</option>
							{% endif %}{% endfor %}
							<option value="0"></option>
						</select>
					</div>
				</div>

				<div class="input-group mt-2">
					<span class="input-group-text bg-success text-light w-75">Свободно мест туда:</span>
					<span class="input-group-text w-25" id="places-to"></span>
				</div>


				<div class="input-group mt-2">
					<span class="input-group-text bg-success text-light w-75">Свободно мест обратно:</span>
					<span class="input-group-text w-25" id="places-from"></span>
				</div>

				<div class="input-group mt-2">
					<span class="input-group-text bg-warning text-dark w-auto">Кол-во детей</span>
					<input type="number" class="form-control" id="number-of-children" placeholder="Кол-во детей"
						value="{{ tour.number_of_children }}" />
				</div>
				<div class="input-group mt-2">
					<span class="input-group-text bg-warning text-dark w-auto">Возраст детей</span>
					<input type="text" class="form-control" id="age-of-children"
						placeholder="Возраст детей через запятую" value="{{ tour.ages }}" />
				</div>

				<div class="input-group m-1">
					<span class="input-group-text bg-primary text-light w-50">Тур. услуга<span
							class="text-danger">*</span></span>
					<span class="form-control" id="total-service-cost">{{ tour.total_travel_service_byn }}</span>
				</div>
				<div class="input-group m-1">
					<span class="input-group-text bg-primary text-light w-50">Стоимость тура<span
							class="text-danger">*</span></span>
					<span class="form-control" id="total-tour-cost">{{ tour.total_travel_cost_byn }}</span>
					<span class="form-control" id="total-currency-1">-</span>
				</div>
				<div class="input-group m-1">
					<span class="input-group-text bg-primary text-light w-50">Итого стоимость тура<span
							class="text-danger">*</span></span>
					<span class="form-control" id="total-cost-currency">{{ tour.total_travel_cost_currency }}</span>
					<span class="form-control" placeholder="Валюта" id="total-currency">-</span>
				</div>
				<div class="input-group m-1">
					<button class="btn btn-warning text-dark w-100" id="calculate-total-cost">Посчитать общую
						стоимость</button>
				</div>


				<div class="input-group mt-2">
					<button type="button" class="btn btn-success w-100" id="save-tour" disabled>Сохранить</button>
				</div>
				<div hidden class="alert alert-success mt-2" role="alert" id="alert"></div>

				<div class="input-group m-1 mt-2">
					<button class="btn btn-outline-success w-50" id="print-contract" disabled>Печать
						договора</button>
					<button class="btn btn-outline-success w-50" id="print-attachment-2" disabled>Печать приложения
						2</button>
				</div>
				<div class="input-group m-1">
					<button class="btn btn-outline-success w-100" id="print-voucher" disabled>Печать
						путевки</button>
				</div>
			</div>
		</div>

		<div class="col-xs-12 col-sm-12 col-md-6 col-xl-6 mt-3">
			<div class="container p-2" name="clients" id="clients" style="background-color:beige;">
				<div class="row mb-2">
					<div class="input-group">
						<span class="input-group-text w-25">ФИО
							<span class="text-danger">*</span>
						</span>
						<input type="text" class="form-control" name="name" id="main-client-name"
							placeholder="Введите ФИО клиента" value="{{ client.name }}" />
					</div>
					<div class="input-group mt-2">
						<span class="input-group-text w-auto">Телефон 1
							<span class="text-danger">*</span>
						</span>
						<input type="text" class="form-control" name="phone" id="main-client-phone-main"
							placeholder="Введите телефон клиента" value="{{ client.main_phone }}" />
					</div>
					<div class="input-group mt-2">
						<span class="input-group-text w-25">Телефон 2</span>
						<input type="text" class="form-control" name="phone" id="main-client-phone-second"
							placeholder="Введите телефон клиента" value="{{ client.second_phone }}" />
					</div>
					<div class="input-group mt-2">
						<span class="input-group-text w-25">Паспорт
							<span class="text-danger">*</span>
						</span>
						<input type="text" class="form-control" name="passport" id="main-client-passport"
							placeholder="Введите серию и номер паспорта" value="{{ client.passport }}" />
						<button class="btn btn-outline-success" id="find-client">Найти</button>
					</div>
					<div class="input-group mt-2">
						<span class="input-group-text w-50">Дата рождения
							<span class="text-danger">*</span>
						</span>
						<input type="date" class="form-control" name="birth-date" id="main-client-birth-date"
							placeholder="Введите дату рождения клиента" value="{{ client.birth_date }}" />
					</div>
					<div class="input-group mt-2">
						<span class="input-group-text w-25">Адрес</span>
						<input type="text" class="form-control" name="address" id="main-client-address"
							placeholder="Введите адрес прописки клиента" value="{{ client.address }}" />
					</div>
					<div class="input-group mt-2">
						<span class="input-group-text bg-primary text-light w-50">Тур. услуга</span>
						<input type="text" class="form-control" name="service-cost" id="main-client-service-cost"
							placeholder="Стоимость услуги в BYN"  value="{{ client.travel_service }}"/>
					</div>
					<div class="input-group mt-2">
						<span class="input-group-text bg-primary text-light w-50">Стоимость тура</span>
						<input type="text" class="form-control" name="tour-cost" id="main-client-tour-cost" value="{{ client.travel_cost_currency_1|split(' ')|first }}"></input>
						<select type="text" class="form-select" placeholder="Валюта" id="main-client-currency-1">
							{% set i = 0 %}
							{% for c in currencies %}
							<option value="{{ c }}" {% if i==0 %}{{ 'selected="selected"' }}{% endif %}>{{ c }}</option>
							{% set i = i + 1 %}
							{% endfor %}
						</select>
					</div>
					<div class="input-group mt-2">
						<span class="input-group-text bg-primary text-light w-50">Стоимость тура</span>
						<input type="text" class="form-control" name="tour-cost-currency"
							id="main-client-total-cost-currency" value="{{ client.travel_cost_currency_2|split(' ')|first }}"></input>
						<select type="text" class="form-select" placeholder="Валюта" id="main-client-currency">
							{% set i = 0 %}
							{% for c in currencies %}
							<option value="{{ c }}" {% if i==1 %}{{ 'selected="selected"' }}{% endif %}>{{ c }}</option>
							{% set i = i + 1 %}
							{% endfor %}
						</select>
					</div>
				</div>

				{% for s in sub_clients %}
				<div class="container-fluid w-100 border border-dark border-1 border-start-0 border-end-0 border-bottom-0 rounded-0 pt-2 mb-2">
					<div class="input-group mt-2">
						<span class="input-group-text w-25">ФИО
							<span class="text-danger">*</span>
						</span>
						<input type="text" class="form-control" name="sub-client-name"
							placeholder="Введите ФИО" value="{{ s.name }}" />
					</div>
					<div class="input-group mt-2">
						<span class="input-group-text w-25">Паспорт
							<span class="text-danger">*</span>
						</span>
						<input type="text" class="form-control" name="sub-client-passport"
							placeholder="Введите паспорт" value="{{ s.passport }}" />
					</div>
					<div class="input-group mt-2">
						<span class="input-group-text w-50">Дата рождение
							<span class="text-danger">*</span>
						</span>
						<input type="date" class="form-control" name="sub-client-birth-date"
							placeholder="Введите дату рождения" value="{{ s.birth_date }}" />
					</div>
					<div class="input-group mt-2">
						<span class="input-group-text bg-primary text-light w-50">Тур. услуга</span>
						<input type="text" class="form-control" name="sub-service-cost" id="main-client-service-cost"
							placeholder="Стоимость услуги в BYN" value="{{ s.travel_service }}"/>
					</div>
					<div class="input-group mt-2">
						<span class="input-group-text bg-primary text-light w-50">Стоимость тура</span>
						<input type="text" class="form-control" name="sub-tour-cost" id="main-client-tour-cost" value="{{ s.travel_cost_currency_1|split(' ')|first }}"></input>
						<select type="text" class="form-select" placeholder="Валюта" id="main-client-currency-1">
							{% set i = 0 %}
							{% for c in currencies %}
							<option value="{{ c }}" {% if i==0 %}{{ 'selected="selected"' }}{% endif %}>{{ c }}</option>
							{% set i = i + 1 %}
							{% endfor %}
						</select>
					</div>
					<div class="input-group mt-2">
						<span class="input-group-text bg-primary text-light w-50">Стоимость тура</span>
						<input type="text" class="form-control" name="sub-tour-cost-currency"
							id="main-client-total-cost-currency" value="{{ s.travel_cost_currency_2|split(' ')|first }}"></input>
						<select type="text" class="form-select" placeholder="Валюта" id="main-client-currency">
							{% set i = 0 %}
							{% for c in currencies %}
							<option value="{{ c }}" {% if i==1 %}{{ 'selected="selected"' }}{% endif %}>{{ c }}</option>
							{% set i = i + 1 %}
							{% endfor %}
						</select>
					</div>
					<div class="input-group mt-2">
						<button type="button" class="btn btn-danger w-100" name="su-client-minus"
							placeholder="Введите дату рождения">-</button>
					</div>
				</div>
				{% endfor %}
			</div>

			<div class="input-group mt-2">
				<button type"button" class="btn btn-success w-100" name="add-subclient">+</button>
			</div>

		</div>
		<p hidden id="tour-id">{{ tour.id }}</p>
		<script type="text/javascript" src="/assets/scripts/tours/addResorts.js"></script>
		<script type="text/javascript" src="/assets/scripts/tours/addHotels.js"></script>
		<script type="text/javascript" src="/assets/scripts/tours/addRooms.js"></script>
		<script type="text/javascript" src="/assets/scripts/tours/addDepartureFromMinskDates.js"></script>
		<script type="text/javascript" src="/assets/scripts/tours/addDepartureFromResortDates.js"></script>
		<script type="text/javascript" src="/assets/scripts/tours/addForm.js"></script>
		<script type="text/javascript" src="/assets/scripts/tours/update.js"></script>
		<script type="text/javascript" src="/assets/scripts/tours/totalCost.js"></script>
		<script type="text/javascript" src="/assets/scripts/tours/findClient.js"></script>
		<script type="text/javascript" src="/assets/scripts/tours/printContract.js"></script>
		<script type="text/javascript" src="/assets/scripts/tours/activatePrintContractButton.js"></script>
		<script type="text/javascript" src="/assets/scripts/tours/activateSaveTourButton.js"></script>
		<script type="text/javascript" src="/assets/scripts/tours/addArrivalToMinskDates.js"></script>
		<script type="text/javascript" src="/assets/scripts/tours/addFreePlacesFromMinsk.js"></script>
		<script type="text/javascript" src="/assets/scripts/tours/addFreePlacesFromResort.js"></script>
		<script type="text/javascript" src="/assets/scripts/tours/printAttachment2.js"></script>
		<script type="text/javascript" src="/assets/scripts/tours/printVoucher.js"></script>
		<script type="text/javascript" src="/assets/scripts/tours/addDates.js"></script>
		<script type="text/javascript" src="/assets/scripts/tours/noTransfer.js"></script>
		<script type="text/javascript" src="/assets/scripts/tours/removeForm.js"></script>
		<script type="text/javascript" src="/assets/scripts/tours/reset.js"></script>
		{% endblock %}