{% block table %}
{% set main = passengers.main_clients %}
{% set subs = passengers.sub_clients %}
{% if main|length > 0 %}
<table class="table table-responsive table-striped table-sm table-xl table-md table-xs table-hover text-center w-100" id="table">
    <tr>
        <th></th>
        <th style="min-width: 200px;">ФИО</th>
        <th style="min-width: 200px;">Дата рождения</th>
        <th style="min-width: 200px;">Паспорт</th>
        <th style="min-width: 200px;">Телефон</th>
        <th style="min-width: 100px;"></th>
    </tr>
    {% set i = 1 %}
    {% for m in main %}
    <tr>
        <td>{{ i }}{% set i = i + 1 %}</td>
        <td>{{ m.name }}</td>
        <td>{{ m.birth_date }}</td>
        <td>{{ m.passport }}</td>
        <td>{{ m.main_phone }}{% if (m.second_phone) %}{{ ' ' }}{{ m.second_phone }}{% endif %}</td>
        <td><input type="checkbox" class="checkbox">На месте</input></td>
    </tr>
    {% for sub in subs %} {% set s = sub %}
    {% for c in s %} {% if c.main_client_id == m.id %}
    <tr>
        <td>{{ i }}{% set i = i + 1 %}</td>
        <td>{{ c.name }}</td>
        <td>{{ c.birth_date }}</td>
        <td></td>
        <td>{{ c.main_phone }}  </td>
        <td class="text-center"><input type="checkbox" class="checkbox">На месте</input></td>
    </tr>
    {% endif %}{% endfor %}{% endfor %}
    {% endfor %}
</table>
{% else %}<span class="h1">Нет пассажиров на этом рейсе</span>{% endif %}
{% endblock %}