{% block table %}
{% if guests|length > 0 %}
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-xxl-12 text-center">
        <div style="text-align: center;">Общество с ограниченной ответсвенностью</div>
        <div class="mx-auto w-100"><img style="margin-left: auto; margin-right: auto; display: block;" class="mx-auto"
                src="/assets/images/logos/logo.png"></div>
        <div style="text-align: center;">Республика Беларусь, г. Минск, ул. Сурганова 61, офис 504</div>
        <div style="text-align: center; margin-bottom: 2%;">Р/с 3012014461250 в филиале 514 АСБ "Беларусбанк" г. Минск,
            код 614, УНН 190135143</div>
    </div>
</div>
<div class="row w-100">
    <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 col-xxl-12">
        <h4 style="text-align: center;"><b><u>{{ hotel.name }}</u></b></h4>
        <h5><b><u>{{ checkin_date }}{{ ' - ' }}{{ checkout_date }}</u></b></h5>
        {% for tc in table_cells %}
        {{ tc }}
        {% endfor %}
    </div>
</div>
{% else %}
<span class="h1">Нет гостей на эти даты</span>
{% endif %}

{% endblock %}