{# Available variables:

'title' => 'Изменить номер',
            'header' => 'Изменить номер',
            'comforts' => $this->model->getComforts(),
            'food' => $this->model->getFood(),
            'login' => $_COOKIE['login'],
            'room' => $room #}

{% extends "base.html.twig" %}
{% block content %}
	<div class="container-xs container-sm container-md container-xl">
		{% use 'components/navBar.html.twig' %}
		{% block nav %}
			{{ parent() }}
		{%
    endblock %}

		<div class="row w-100 mt-2 mb-2">
			<div class="col-xs-12 col-sm-12 col-md-12 col-xl-12">
				<p class="h1 text-center" id="main-page-h1">{{ header }}</p>
			</div>
		</div>

		<div class="row w-100 mt-2 mb-5">
		<div class="col-xs-12 col-sm-12 col-md-1 col-xl-3 text-center"></div>
			<div class="col-xs-12 col-sm-12 col-md-10 col-xl-6 text-center">
				<div class="table-responsive w-100">
					<table class="table table-sm" id="table">
						<tr>
							<th class="w-auto text-center">Описание номера</th>
							<th>
								<textarea class="border-1 w-auto" name="room-description">{{ room.description }}</textarea>
							</th>
						</tr>

						<tr>
							<td class="w-auto text-center">Удобства</td>
							<td>
								<div class="input-group mb-3">
									<textarea class="form-control border-0" name="comfort" id="room-comforts-{{ room.id }}">{% for comfort in room.comforts %}{{ comfort|trim }}{{ '\n' }}{% endfor %}</textarea>
									<div class="btn-group dropend">
										<button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
											Добавить
										</button>
										<ul class="dropdown-menu dropdown-menu-sm">
											{% for comfort in comforts %}
												<li>
													<button class="btn" name="comfort-option" value="room-comforts-{{ room.id }}-{{ comfort }}">{{ comfort }}</button>
												</li>
											{% endfor %}
										</ul>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td class="w-auto text-center">Питание</td>
							<td>
								<div class="input-group mb-3">
									<textarea class="form-control border-0" id="room-food-{{ room.id }}" name="food">{% for food in room.food %}{{ food|trim }}{{ '\n' }}{% endfor %}</textarea>
									<div class="btn-group dropend">
										<button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
											Добавить
										</button>
										<ul class="dropdown-menu">
											{% for food_item in food %}
												<li>
													<button class="btn" name="food-option" value="room-food-{{ room.id }}-{{ food_item }}">{{ food_item }}</button>
												</li>
											{% endfor %}
										</ul>
									</div>
								</td>
							</td>
						</tr>
						<tr>
							<td class="w-auto text-center">Заезды/Выезды</td>
							<td>
								<div class="input-group w-100">
									<input type="date" class="btn btn-sm border-0 w-50" name="date"  id="date-in-{{ room.id }}">
									<input type="date" class="btn btn-sm border-0 w-50" name="date" id="date-out-{{ room.id }}">
								</div>

								<div class="input-group w-100">
                                {% set allDates = room.checkin_checkout_dates %}
								{% set middle = allDates|length / 2 %}
								{% set end = allDates|length %}
									<textarea placeholder="Заезды" class="form-control w-50" name="checkins" aria-label="With textarea" id="field-date-in-{{ room.id }}">{% for date in allDates|slice(0, middle) %}{% set dateStatus = date|first %}{{ date|trim(dateStatus) }}{{ '\n' }}{% endfor %}</textarea>
									<textarea placeholder="Выезды" class="form-control w-50" name="checkouts" aria-label="With textarea" id="field-date-out-{{ room.id }}">{% for date in allDates|slice(middle, end) %}{% set dateStatus = date|first %}{{ date|trim(dateStatus) }}{{ '\n' }}{% endfor %}</textarea>
								</div>
							</td>
						</tr>
						<tr>
							<td></td>
							<td class="w-auto">
								<div class="input-group mx-auto">
									<button class="btn btn-outline-danger w-100">Очистить</button>
								</div>
							</td>
						</tr>
					</table>
				</div>
				<div class="row w-100 mt-2 mb-5">
					<div class="col-xs-12 col-sm-12 col-md-1 col-xl-3 text-center"></div>
					<div class="col-xs-12 col-sm-12 col-md-10 col-xl-6 text-center">
						<div class="input-group mx-auto w-100">
							<button class="btn btn-success w-50" name="save" id="save-btn">Сохранить</button>
							<button class="btn btn-danger w-50">Очистить</button>
						</div>
					</div>
				</div>

				<div class="row w-100 mt-2 mb-5">
					<div class="col-xs-12 col-sm-12 col-md-1 col-xl-3 text-center"></div>
					<div class="col-xs-12 col-sm-12 col-md-10 col-xl-6 text-center">
						<p hidden id="room-id">{{ room.id }}</p>
						<p hidden id="room-hotel-id">{{ room.hotel_id }}</p>
						<p id="error-field"></p>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="/assets/scripts/rooms/update.js"></script>
		<script type="text/javascript" src="/assets/scripts/rooms/addComforts.js"></script>
		<script type="text/javascript" src="/assets/scripts/rooms/addFood.js"></script>
		<script type="text/javascript" src="/assets/scripts/rooms/addCalendar.js"></script>
	</div>
{% endblock %}
