{% extends "base.html.twig" %} {% block content %}
<div class="container-xs container-sm container-md container-xl">
    {% use 'components/navBar.html.twig' %} {% block nav %} {{ parent() }} {%
    endblock %}

    <div class="row w-100 mt-2 mb-2">
        <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12">
            <p class="h1 text-center" id="main-page-h1">{{ header }}</p>
            <p class="h5 text-center" id="main-page-h5">{{ hotel.name }}</p>
        </div>
    </div>

    <div class="row w-100 mt-2 mb-5">
        <div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 text-center">

        <table
            class="table table-sm table-striped table-success table-bordered"
            id="table">
            <tr>
                <th class="w-auto"><input type="checkbox" id="check-all" /></th>
                <th class="w-auto text-center">Описание</th>
                {% for i in 1..hotel.rooms %}
                <th class="w-auto"><textarea class="form-control border-0
                        bg-transparent"
                        rows="1"
                        id="room-description-{{ i
                        }}"></textarea></th>
                {% endfor %}
            </tr>
            {% for i in 1..hotel.rooms %}
            <tr>
                <td><input type="checkbox" id="{{ i }}" /></td>
                                <td>
                                                <span class="input-group-text border-0 p-0 w-50
                                bg-transparent">Заезд</span>
                                                            <span class="input-group-text border-0 p-0 w-50
                                bg-transparent">Выезд</span>
                </td>
                {% for i in 1..hotel.rooms %}
                <td>
                    <div>
                            <input
                                type="date"
                                class="form-control h-auto p-0 bg-transparent"
                                name="text"
                                id="checkin-date-{{ i }}"
                                />
                        </div>
                            <input
                                type="date"
                                class="form-control p-0 bg-transparent"
                                name="text"
                                id="checkout-date-{{ i }}"
                                />
                        </div>
                    </div>
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                {% for i in 1..hotel.rooms %}
                <td>
                    <button class="btn btn-success">Сохранить</button>
                </td>
                {% endfor %}
            </tr>
        </table>
    </div>
</div>
    {% endblock %}
