{% extends "base.html.twig" %}
{% block content %}
	<div class="container-xs container-sm container-md container-xl">
		{% use 'components/navBar.html.twig' %}
		{% block nav %}
			{{ parent() }}
		{%
    endblock %}

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


		<div class="row w-100 mt-2 mb-2">
			<div class="col-xs-12 col-sm-12 col-md-12 col-xl-12">
				<p class="h1 text-center" id="main-page-h1">{{ header }}</p>
				<p class="h5 text-center" id="main-page-h5">{{ hotel.name }}</p>
			</div>
		</div>

		<div class="row w-100 mt-2 mb-5">
			<div class="col-xs-12 col-sm-12 col-md-12 col-xl-12 text-center">
				<div class="table-responsive w-100">
					<table class="table w-100" id="table">
						<tr>
							<th class="w-auto text-center">Описание номера</th>
							{% for i in 0..hotel.rooms - 1 %}
								<th>
									<textarea class="border-1"></textarea>
								</th>
							{% endfor %}
						</tr>


						<tr>
							<th class="w-auto text-center">Удобства</th>
							{% for i in 0..hotel.rooms - 1 %}
								<th>
									<div class="input-group mb-3">
										<input type="text" class="form-control" name="comfort" id="room-comforts-{{ i }}">
										<div class="btn-group dropend">
											<button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
												Добавить
											</button>
											<ul class="dropdown-menu dropdown-menu-sm">
												{% for comfort in comforts %}
													<li>
														<button class="btn" name="comfort-option" value="room-comforts-{{ i }}-{{ comfort }}">{{ comfort }}</button>
													</li>
												{% endfor %}
											</ul>
										</div>
									</div>
								</th>
							{% endfor %}
						</tr>
					</tr>
					<tr>
						<th class="w-auto text-center">Питание</th>
						{% for i in 0..hotel.rooms - 1 %}
							<th>
								<div class="input-group mb-3">
									<input type="text" class="form-control" name="food" id="room-food-{{ i }}">
									<div class="btn-group dropend">
										<button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
											Добавить
										</button>
										<ul class="dropdown-menu">
											{% for food_item in food %}
												<li>
													<button class="btn" name="food-option" value="room-food-{{ i }}-{{ food_item }}">{{ food_item }}</button>
												</li>
											{% endfor %}
										</ul>
									</div>
								</div>
							</th>
						{% endfor %}
					</tr>

					<tr>
						<th class="w-auto text-center">Даты заездов</th>
						{% for i in 0..hotel.rooms - 1 %}
							<th>
								<div class="input-group mb-3">
									<textarea class="form-control" aria-label="With textarea" id="field-date-in-{{ i }}"></textarea>
									<input type="date" class="btn border-0" name="date" id="date-in-{{ i }}">
								</div>
							</th>

						{% endfor %}
					</tr>

					<tr>
						<th class="w-auto text-center">Даты выездов</th>
						{% for i in 0..hotel.rooms - 1 %}
							<th>
								<div class="input-group mb-3">
									<textarea class="form-control" aria-label="With textarea" id="field-date-out-{{ i }}"></textarea>
									<input type="date" class="btn border-0" name="date" id="date-out-{{ i }}">

								</div>
							</th>

						{% endfor %}
					</tr>

					{% for i in 0..hotel.checkins %}{% endfor %}
				</tr>
			</table>
		</div>
	</div>
</div>
<script type="text/javascript" src="/assets/scripts/rooms/create.js"></script>
<script type="text/javascript" src="/assets/scripts/rooms/addComforts.js"></script>
<script type="text/javascript" src="/assets/scripts/rooms/addFood.js"></script>
<script type="text/javascript" src="/assets/scripts/rooms/addCalendar.js"></script></div>{% endblock %}
