{% block table %}
<table class="table table-sm table-hover text-center" id="table">
    <tr>
        <th scope="col"><input type="checkbox" id="check-all"></th>
        <th scope="col">id</th>
        <th scope="col">email</th>"
        <th scope="col">Логин</th>
        <th scope="col">Тип доступа</th>
        <th scope="col"></th>
    </tr>
    {% for admin in admins %}
    <tr>
        <td><input name="select" type="checkbox" value="{{admin.id}}"></td>
        <td>{{ admin.id }}</td>
        <td>{{ admin.email }}</td>
        <td>{{ admin.login }}</td>
        <td>
            {% if admin.privileges == 0 %}{{ 'Нет доступа' }}{% endif %}
            {% if admin.privileges == 1 %}{{ 'Модератор' }}{% endif %}
            {% if admin.privileges == 2 %}{{ 'Главный администратор' }}{% endif %}
        </td>
        <td><a class="btn btn-success" href="/admins/edit/{{admin.id}}">Исправить</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}