{% block table %}
<table
  class="table table-responsive table-sm table-xl table-md table-xs table-hover text-center w-100"
  id="table"
>
  <tr>
    <th scope="col"><input type="checkbox" id="check-all" /></th>
    <th scope="col">id</th>
    <th scope="col">Название</th>
    <th scope="col">Курорт</th>
    <th scope="col">Адрес</th>
    <th scope="col">Местность</th>
    <th scope="col">Пляж</th>
    <th scope="col">Номер</th>
    <th scope="col">Вода</th>
    <th scope="col">Питание</th>
    <th scope="col">Особенности</th>
    <th scope="col">Описание</th>
    <th scope="col">Статус</th>
    <th scope="col"></th>
  </tr>
  {% for hotel in hotels %}
  <tr>
    <td><input name="select" type="checkbox" value="{{ hotel.id }}" /></td>
    <td>{{ hotel.id }}</td>
    <td>{{ hotel.name }}</td>
    <td>
      {% for resort in resorts %}{% if resort.id == hotel.resort_id %}{{
        resort.name
      }}{% endif %}{% endfor %}
    </td>
    <td>{{ hotel.address }}</td>
    <td>{{ hotel.area }}</td>
    <td>{{ hotel.beach }}</td>
    <td>{{ hotel.number }}</td>
    <td>{{ hotel.water }}</td>
    <td>{{ hotel.food }}</td>
    <td>{{ hotel.features }}</td>
    <td>{{ hotel.description }}</td>
    <td>
      {% if hotel.is_active > 0 %}{{ "Доступен" }}{% else %}{{
        "Не доступен"
      }}{% endif %}
    </td>
    <td>
      <a class="btn btn-success" href="/hotels/edit/{{ hotel.id }}"
        >Исправить</a
      >
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
