{% block table %}
	<table class="table table-bordered table-responsive table-sm table-xl table-md table-xs
																																																																																										    table-hover text-center w-100" id="table">
		<tr>
			<th scope="col"><input type="checkbox" id="check-all"/></th>
			<th scope="col">id</th>
			<th scope="col">Описание</th>
			{% for i in 0 .. 4 %}
				<th scope="col">{{ 'Заезд' }}<br>{{ 'Выезд' }}</th>
			{% endfor %}
		</tr>
		{% for room in rooms %}
			<tr>
				<td><input type="checkbox"></td>
				<td>{{ room.id }}</td>
				<td>{{ room.description }}</td>
				{% set dates = room.dates %}
				{% for date in dates %}
					<td style="background-color: {% if date.checkin != NULL %}
																											{{ 'lightgreen' }}{% else %}{{ 'darkgrey' }}{% endif %};">
						<div class="text">{{ date.checkin }}</div>
						<div class="text">{{ date.checkout }}</div>
					</td>
				{% endfor %}
			</tr>
		{% endfor %}
	</table>
{% endblock %}
