{% block table %}
	<table class="table table-responsive table-sm table-xl table-md table-xs
																								    table-hover text-center w-100" id="table">
		<tr>
			<th scope="col"><input type="checkbox" id="check-all"/></th>
			<th scope="col">id</th>
			<th scope="col">Описание</th>
			{% for i in 1..10 %}
				<th scope="col">{{ 'Заезд' }}<br>{{ 'Выезд' }}</th>
			{% endfor %}
		</tr>
		{% for room in rooms %}
			<tr>
				<td><input type="checkbox"></td>
				<td>{{ room.id }}</td>
				<td>{{ room.description }}</td>
				{% set checkins = room.checkins %}
				{% set checkouts = room.checkouts %}
				{% for checkin in checkins %}
					<td>{{ checkin }}</td>
				{% endfor %}
				{% for checkout in checkouts %}
					<td>{{ checkout }}</td>
				{% endfor %}
			</tr>
			<tr></tr>
		{% endfor %}
	</table>
{% endblock %}
