{% block table %}
<table class="table table-sm table-secondary table-striped table-hover" id="table">
    <tr>
        <th scope="col"><input type="checkbox" id="check-all" /></th>
        <th scope="col">id</th>
        <th scope="col">Название</th>
        <th scope="col">Маршрут</th>
        <th scope="col">Из Минска</th>
        <th scope="col">В Минск</th>
        <th scope="col">Места</th>
        <th scope="col"></th>
    </tr>
    {% for bus in buses %}
    <tr>
        <td><input name="select" type="checkbox" value="{{ bus.id }}" /></td>
        <td>{{ bus.id }}</td>
        <td>{{ bus.name }}</td>
        <td>{{ bus.route }}</td>
        <td>{% set from_minsk = bus.departure_from_minsk|split('\n') %}{% for f in from_minsk %}{{ f }}{{ '<br>' }}{%
            endfor %}</td>
        <td>{% set arrival_to_minsk = bus.arrival_to_minsk|split('\n') %}{% for a in arrival_to_minsk %}{{ a }}{{ '<br>'
            }}{% endfor %}</td>
        <td>{{ bus.places }}</td>
        <td>
            <a class="btn btn-success" href="/buses/edit/{{ bus.id }}">Исправить</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}