{% block table %}
<table class="table table-sm table-secondary table-striped table-hover" id="table">
  <tr>
    <th scope="col"><input type="checkbox" id="check-all" /></th>
    <th scope="col">id</th>
    <th scope="col">Название</th>
    <th scope="col">Статус</th>
    <th scope="col"></th>
  </tr>
  {% for country in countries %}
  <tr>
    <td><input name="select" type="checkbox" value="{{ country.id }}" /></td>
    <td>{{ country.id }}</td>
    <td>{{ country.name }}</td>
    <td>
      {% if country.is_active > 0 %}{{ "Доступна" }}{% else %}{{
        "Не доступна"
      }}{% endif %}
    </td>
    <td>
      <a class="btn btn-success" href="/countries/edit/{{ country.id }}"
        >Исправить</a
      >
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
