{% block table %}

<select class="form-select text-secondary mb-2 text-center" id="hotels">
    {% for hotel in hotels %}
    <option value="{{ hotel.id }}" class="btn btn-outline-secondary" {% if current_hotel_id==hotel.id
        %}{{ 'selected="selected"' }}{% endif %}>
        {{ hotel.name }}
    </option>
    {% endfor %}
</select>
<table class="table table-sm table-secondary table-bordered border-light table-hover" id="table">
    <tr>
        {% for th in table_headers %}
        <th style="width: fit-content;">{{ th }}</th>
        {% endfor %}
    </tr>

    {% for tr in table_rows %}
    <tr>
        <td style="width: 200px;">{{ tr.col_0 }}</td>
        {% for col in tr.cols %}
        <td style="width: 70px;" {% if col|first=='f' %}{{ 'class="text-light bg-success">' }}{{ 'Свободно' }}{% else
            %}{{ 'class="text-light bg-danger">' }}{% set name=col|split(' ', 3)|slice(0, 2) %}{% set i = 1 %}
            {% for n in name %}
            {% if i == 1 %}{{ n }}{{ ' <br>' }}{% endif %}
            {% if i == 2 %}{{ n }}{% endif %}
            {% if i == 1 %}{% set i = 2 %}{% else %}{% set i = 1 %}{% endif %}
            {% endfor %}{% endif %}</td>{% endfor %}
    </tr>
    {% endfor %}
</table>

<script type="text/javascript" src="/assets/scripts/net/net.js"></script>
{% endblock %}