{% block table %}

<div class="input-group mb-2">
    <select class="form-select text-secondary text-center w-50" id="hotels">
        {% for hotel in hotels %}
        <option value="{{ hotel.id }}" class="btn btn-outline-secondary" {% if current_hotel_id==hotel.id
            %}{{ 'selected="selected"' }}{% endif %}>
            {{ hotel.name }}
        </option>
        {% endfor %}
    </select>
    <button class="btn btn-success w-50" id="hotels-btn">Найти</button>
</div>
<table class="table table-sm table-secondary table-bordered border-light table-hover" id="table">
    <tr>
        <th>Описание номеров --></th>
        {% for th in table.headers %}
        <th style="width: fit-content;">{{ th }}</th>
        {% endfor %}
    </tr>

    {% for tr in table.rows %}
    <tr>
        {% for td in tr %}
        <td {% if td == 'недоступно' %} {{ 'class="bg-dark text-light"' }}{% endif %}{% if td == 'свободно' %} {{ 'class="bg-success text-light"' }} {% else %}{% if td|last != last_year_number %} {{ 'class="bg-danger text-light"' }}{% endif %}{% endif %}>
        {% if td|split(' ')|length <2 %}{{ td }}{% endif %}
        {% if td|split(' ')|length == 2 %}{% for n in td|split(' ') %}{{ n }}{{ '<br>' }}{% endfor %}{% endif %}
        {% if td|split(' ')|length >= 3 %}{{ td }}{% endif %}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

<script type="text/javascript" src="/assets/scripts/net/net.js"></script>
{% endblock %}