{% block table %}

	<table class="table table-sm table-secondary table-bordered border-light" id="table">
		<tr>
			{% for date in table.dates %}
				<th>
                    <small>
                        {{ date.from }}{{ '-' }}{{ date.to }}
                    </small>
                </th>
			{% endfor %}
		</tr>
		<tr>
			{% for row in table.tours %}
				{% if row.busy == true %}
                    <td class="bg-danger text-center text-light">
                        <small>
                            {{ row.owner.name }}
                            {{ '<br>' }}
                            {{ 'Всего гостей: ' }}{{ row.guests_count }}
                        </small>
                    </td>
				{% endif %}
                {% if row.busy == false %}
                    <td class="bg-success text-light text-center">
                        <small class="m-auto">
                            {{ 'Свободно' }}
                        </small>
                    </td>
                {% endif %}
			{% endfor %}
		</tr>
	</table>

	 <script type="text/javascript" src="/assets/scripts/net/net.js"></script>
{% endblock %}
