{% block pagination %}
<div class="row w-100 my-2">
	<div class="col-xs-12 col-sm-12 col-md-12 col-xl-12">
		<nav>
			<ul class="pagination justify-content-center">

				<li class="page-item">
					<a class="page-link" href="/{{ entity }}" aria-label="Previous">
						<span aria-hidden="true">Начало</span>
						<span class="sr-only"></span>
					</a>
				</li>

				{% if currentPage > 5 %}
				<li class="page-item">
					{% else %}
				<li class="page-item disabled">
					{% endif %}
					<a class="page-link" href="/{{ entity }}/{% if currentPage > 5 %}{{ currentPage - 5 }}{% endif %}"
						aria-label="Previous">
						<span aria-hidden="true">-5</span>
						<span class="sr-only"></span>
					</a>
				</li>

				{% if currentPage > 3 %}
				<li class="page-item">
					{% else %}
				<li class="page-item disabled">
					{% endif %}
					<a class="page-link" href="/{{ entity }}/{% if currentPage > 3 %}{{ currentPage - 3 }}{% endif %}"
						aria-label="Previous">
						<span aria-hidden="true">-3</span>
						<span class="sr-only"></span>
					</a>
				</li>

				{% if currentPage > 2 %}
				<li class="page-item">
					{% else %}
				<li class="page-item disabled">
					{% endif %}
					<a class="page-link" href="/{{ entity }}/{% if currentPage > 3 %}{{ currentPage - 2 }}{% endif %}"
						aria-label="Previous">
						<span aria-hidden="true">&#60;&#60;</span>
						<span class="sr-only"></span>
					</a>
				</li>

				{% if currentPage > 1 %}
				<li class="page-item">
					{% else %}
				<li class="page-item disabled">
					{% endif %}
					<a class="page-link" href="/{{ entity }}/{% if currentPage > 2 %}{{ currentPage - 1 }}{% endif %}"
						aria-label="Previous">
						<span aria-hidden="true">&#60;</span>
						<span class="sr-only"></span>
					</a>
				</li>

				{% if currentPage == 2 %}
				<li class="page-item">
					<a class="page-link" href="/{{ entity }}/{% if currentPage == 2 %}{{ currentPage - 1}}{% endif %}">
						{{ currentPage - 1 }}
					</a>
				</li>
				{% endif %}

				{% if currentPage > 2 %}

				{% if currentPage > 3 %}
				<li class="page-item">
					<a class="page-link" href="/{{ entity }}/{% if currentPage > 3 %}{{ currentPage - 3}}{% endif %}">
						{{ currentPage - 3 }}
					</a>
				</li>
				{% endif %}
				<li class="page-item">
					<a class="page-link" href="/{{ entity }}/{% if currentPage > 2 %}{{ currentPage - 2}}{% endif %}">
						{{ currentPage - 2 }}
					</a>
				</li>

				<li class="page-item">
					<a class="page-link" href="/{{ entity }}/{% if currentPage > 2 %}{{ currentPage - 1}}{% endif %}">
						{{ currentPage - 1 }}
					</a>
				</li>
				{% endif %}

				<li class="page-item disabled">
					<a class="page-link" href="/{{ entity }}/{{ currentPage }}">
						{{ currentPage }}
					</a>
				</li>

				{% if currentPage < pages %} <li class="page-item">
					<a class="page-link" href="/{{ entity }}/{{ currentPage + 1 }}">
						{{ currentPage + 1 }}
					</a>
					</li>

					{% if currentPage < pages - 1 %} <li class="page-item">
						<a class="page-link" href="/{{ entity }}/{{ currentPage + 2 }}">
							{{ currentPage + 2 }}
						</a>
						</li>
						{% endif %}

						{% if currentPage < pages - 2 %} <li class="page-item">
							<a class="page-link" href="/{{ entity }}/{{ currentPage + 3 }}">
								{{ currentPage + 3 }}
							</a>
							</li>
							{% endif %}
							{% endif %}

							{% if currentPage < pages %} <li class="page-item">
								{% else %}
								<li class="page-item disabled">
									{% endif %}
									<a class="page-link" href="/{{ entity }}/{{ currentPage + 1 }}" aria-label="Next">
										<span aria-hidden="true">&#62;</span>
										<span class="sr-only"></span>
									</a>
								</li>

								{% if currentPage < pages - 1 %} <li class="page-item">
									{% else %}
									<li class="page-item disabled">
										{% endif %}
										<a class="page-link" href="/{{ entity }}/{{ currentPage + 2 }}"
											aria-label="Next">
											<span aria-hidden="true">&#62;&#62;</span>
											<span class="sr-only"></span>
										</a>
									</li>

									{% if currentPage < pages - 2 %} <li class="page-item">
										{% else %}
										<li class="page-item disabled">
											{% endif %}
											<a class="page-link" href="/{{ entity }}/{{ currentPage + 3 }}"
												aria-label="Next">
												<span aria-hidden="true">+3</span>
												<span class="sr-only"></span>
											</a>
										</li>

										{% if currentPage < pages - 4 %} <li class="page-item">
											{% else %}
											<li class="page-item disabled">
												{% endif %}
												<a class="page-link" href="/{{ entity }}/{{ currentPage + 5 }}"
													aria-label="Next">
													<span aria-hidden="true">+5</span>
													<span class="sr-only"></span>
												</a>
											</li>

											<li class="page-item">
												<a class="page-link" href="/{{ entity }}/{{ pages }}"
													aria-label="Previous">
													<span aria-hidden="true">Конец</span>
													<span class="sr-only"></span>
												</a>
											</li>
			</ul>
		</nav>
	</div>
	<div class="col-xs-0 col-sm-0 col-md-1 col-xl-3"></div>
</div>
{% endblock %}