{% block table %}
<table class="table table-sm table-secondary table-striped table-hover text-center" id="table">
	<tr>
		<th colspan="{{ rooms|length + 1}}">Еще можно создать номеров: {% set freeRooms = hotel.rooms - rooms|length
			%}{{ freeRooms }}</th>
	</tr>
	<tr>
		<th scope="col"><input type="checkbox" id="check-all" /></th>
		{% for room in rooms %}
		{% if room.hotel_id == hotel.id %}
		<th scope="col">
			<input type="checkbox" name="select" value="{{ room.id }}" />
		</th>
		{% endif %}
		{% endfor %}
	</tr>

	<tr>
		<th scope="col">Описание</th>
		{% for room in rooms %}
		{% if room.hotel_id == hotel.id %}
		<th scope="col">
			<span>
				{{ room.description }}
			</span>
		</th>
		{% endif %}
		{% endfor %}
	</tr>

	<tr class="bg-warning text-dark">
		<td class="w-auto text-center">Удобства</td>
		{% for room in rooms %}
		{% if room.hotel_id == hotel.id %}
		<td>
			<span>
				{% for comfort in room.comforts %}
				{{ comfort }}{{ '<br>' }}
				{% endfor %}
			</span>
		</td>
		{% endif %}
		{% endfor %}
	</tr>

	<tr>
		<td class="w-auto text-center">Питание</td>
		{% for room in rooms %}
		{% if room.hotel_id == hotel.id %}
		<td>
			<span>
				{% for food_item in room.food %}
				{{ food_item }}{{ '<br>' }}
				{% endfor %}
			</span>
		</td>
		{% endif %}
		{% endfor %}
	</tr>

	<tr>
		<th>Заезды/Выезды</th>
		{% for room in rooms %}
		{% if room.hotel_id == hotel.id %}
		<td style="min-width: 350px;">
			<div class="btn-group-vertical">
				{% for entry in room.entries %}
				<div class="btn-group">
					<button class=
						"
							{% if entry.status == 'free' %}
								{{ 'btn btn-success' }}
							{% endif %}
							{% if entry.status == 'busy' %}
								{{ 'btn btn-danger' }}
							{% endif %}
						"
					>
						{{ entry.dateFrom }}
					</button>
					<button class=
						"
							{% if entry.status == 'free' %}
								{{ 'btn btn-success' }}
							{% endif %}
							{% if entry.status == 'busy' %}
								{{ 'btn btn-danger' }}
							{% endif %}
						"
					>
						{{ entry.dateTo }}
					</button>
				</div>
				{% endfor %}
			</div>
		</td>
		{% endif %}
		{% endfor %}
	</tr>

	<tr>
		<td class="w-auto text-center"></td>
		{% for room in rooms %}
		{% if room.hotel_id == hotel.id %}
		<td>
			<a class="btn btn-warning" href="/rooms/edit/{{ room.id }}">Изменить</a>
		</td>
		{% endif %}
		{% endfor %}
	</tr>


</table>
{% endblock %}