{% extends "base.html.twig" %}

{% block content %}
{% use 'components/navBar.html.twig' %} {% block nav %} {{ parent() }} {% endblock %}

<div class="container-xs container-sm container-md container-xl pt-5">
    <div class="row w-100 mt-5">
        <div class="col-xs-1 col-sm-2 col-md-3 col-xl-4"></div>
        <div class="col-xs-10 col-sm-8 col-md-6 col-xl-4">
            <h1 class="h1 w-100 m-1" id="main-page-h1">{{ message|upper }}</h1>
        </div>
        <div class="col-xs-1 col-sm-2 col-md-3 col-xl-4"></div>
    </div>

    <form class="form">
        
        <div class="row w-auto mt-2">
            <div class="col-xs-1 col-sm-2 col-md-3 col-xl-4"></div>
            <div class="col-xs-10 col-sm-8 col-md-6 col-xl-4">
                <div class="input-group">
                    <label class="input-group-text w-25" for="name">Название</label>
                    <input type="text" class="form-control w-75" name="new-name" id="name"
                        placeholder="Введите новый логин" value="{{ country.name }}">
                </div>
            </div>
            <div class="col-xs-1 col-sm-2 col-md-3 col-xl-4"></div>
        </div>

        <div class="row w-auto mt-2">
            <div class="col-xs-1 col-sm-2 col-md-3 col-xl-4"></div>
            <div class="col-xs-10 col-sm-8 col-md-6 col-xl-4">
                <div class="input-group">
                    <label class="input-group-text w-25" for="super-admin">Статус</label>
                <select name="is-active" id="is-active" class="btn btn-success dropdown-toggle w-75">
                    <option value="0"
                        {% if country.is_active == 0 %}
                            {{ 'selected="selected"' }}
                        {% endif %}>
                        Не активна
                    </option>
                    <option value="1"
                        {% if country.is_active== 1 %}
                            {{ 'selected="selected"' }}
                        {% endif %}>
                        Активна
                    </option>
                </select>
                </div>
            </div>
            <div class="col-xs-1 col-sm-2 col-md-3 col-xl-4"></div>
        </div>

        <div class="row w-auto mt-2">
            <div class="col-xs-1 col-sm-2 col-md-3 col-xl-4"></div>
            <div class="col-xs-10 col-sm-8 col-md-6 col-xl-4">
                <button type="button" class="btn btn-success w-100" id="submit-button" value="submit" disabled>
                    Сохранить
                </button>
            </div>
            <div class="col-xs-1 col-sm-2 col-md-3 col-xl-4"></div>
        </div>

        <div>
            <input type="hidden" value="{{ admin.id }}" name="id" id="id">
        </div>

        <div class="row w-100">
            <div class="col-xs-1 col-sm-2 col-md-3 col-xl-4"></div>
            <div class="col-xs-10 col-sm-8 col-md-6 col-xl-4">
                <div class="alert mt-1" id="error-field-div">
                    <p id="error-field"></p>
                </div>
            </div>
            <div class="col-xs-1 col-sm-2 col-md-3 col-xl-4"></div>
        </div>
    </form>

    <script type="text/javascript" src="/assets/scripts/admins/edit/formValid.js"></script>
    <script type="text/javascript" src="/assets/scripts/admins/edit/edit.js"></script>
</div>
{% endblock %}